<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Contact</title>
<style> 
	#contact
        {
            background-image: url('/img/contact.webp');
            background-size:cover;
            height: 800px;
            display: flex;
            justify-content:center;
            
        } </style>
</head>
<body>
<div id="contact">
                <div style="background-color: rgba(0, 0, 0, 0.579);width:100%;display:flex;justify-content:center">
                 <div style="width:1200px;position:relative;top: 200px;text-align:unset;color:white;font-size:27px">
                     <h1>CONTACT US</h1>
                     <p>
                         IF YOU HAVE ANY QUERY & ENQUIRY,PLEASE FEEL FREE TO REACH OUT TO US:
                        Email :<a href="mailto:visaprocessingsystem@gmail.com">visaprocessingsystem@gmail.com</a>
                        Mob no:<a href="tel:7306451083">Click here to contact customer support</a>                 

                     </p>
                 </div>
                </div>
                </div>
</body>
</html>